*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  }
  html, body {
    background-color:#ffeece;
    color: var(#99522b);
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  .section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
  }
  .btn {
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color:transparent;
    font-size: large;
    color: #c48763;
  }
  .btn-focus {
    background-color: transparent;
    cursor: pointer;
    color: #c48763;
    font-size: large;
  }
  .time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
  #time {
    text-align: center;
    color:#c48763;;
    font-size: 5em;
    font-weight: 600;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  #btn-start,
  #btn-pause {
    font-size: medium;
    padding: 0.5rem 1em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #ffffff;
  }
  #btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 2em;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .mood {
    color: #99522b;
    padding-left:742px;
    text-shadow: #99522b;
    letter-spacing: 3px;
    padding-left: 43% ;
  }
  .home{
    padding-left: 3%;
    color: #99522b;
    letter-spacing: 3px;
    text-shadow: #99522b;
  }
  